@import "3L.less";
//全局color 
@c2:#263238;
@c3:#37474F;
@c4:#455A64;
@c5:#546E7A; 
@c6:#607D8B;
@c7:#78909C;
@c8:#90A4AE;
@c9:#B0BEC5;
@cc:#CFD8DC;
@ce:#ECEFF1;
@blue:#0091EA;
@red:#F44336;

@headheight:46px;//头部高度
@br:2px;//UI圆角角度
@rightwidth:260px;//右侧设置宽度

.reset();

//less minix
.img2x(@img){
	background-image:-webkit-image-set( url('../images/@{img}.png') 1x, url('../images/@{img}2x.png') 2x);
}
.placeholder(...) {
	::-webkit-input-placeholder {color:@arguments}
	::-moz-placeholder {color:@arguments}
    :-ms-input-placeholder {color:@arguments}
}
.inline-block(){
	display:inline-block;*display:inline;zoom:1;
}
.anm(){.transition(.2s);}

//全局的设置
*{
	.box-sizing (border-box);
}
body{
	font-family: "Hiragino Sans GB", "Microsoft YaHei","lucida sans unicode", lucida, helvetica,  "WenQuanYi Micro Hei", sans-serif;
	background:lighten(@ce,2%);
}
a{text-decoration:none;color:@c4;}
.container{
	width:1200px;margin:0 auto;
}

input[type='text'],input[type='tel'],input[type='password'],input[type='email']{
	.appearance ('none');
	outline:none;
	border:1px solid @cc;padding:8px 4px;font-size:14px;.placeholder(lighten(@ce,2%));
	
	&:focus{
		border-color:@c3;
	}
}
.btn{
	.inline-block();padding:10px 20px;background:@blue;color:#fff;font-size:14px;
	.transition(.4s);
	&:hover{
		background:darken(@blue,12%);
	}
}


//字体图标
@import "icon.less";
.header{
	height:@headheight;background:@c2;position:relative;box-shadow:0px 1px 5px rgba(0, 0, 0, 0.1);
	&_logo{
		font-size:0;
		a{
			display:block;width:@headheight;height:@headheight;
			background:url(../images/head_logo.png) no-repeat center center;
			.img2x(head_logo);background-color:@red;
		}
	}
	&_nav{
		text-align:right;.inline-block();
		a{
			.inline-block();line-height:@headheight;color:@cc;font-size:12px;padding:0 20px;
		}
	}
	&_right{
		position:absolute;right:0;top:0;text-align:right;
	}
	&_tool{
		.inline-block();
		&_member{
			padding:0 10px;
			img{
			width:30px;height:30px;vertical-align:middle;border-radius:90px;
			}
		}
	}
	
}

//drqwing.html
.draw{
	
	&_bar,&_menu{
		position:absolute;left:@headheight;top:0;text-align:left;.display-flex();align-items: center;justify-content:center;bottom:0;
		&_item{
			.inline-block();color:@ce;font-size:11px;padding:0 14px;font-size:0;
			i{font-size:16px;display:block;padding:3px 0;}
		}
	}
	&_menu{
		left:inherit;right:0;
	}
	&_bar{text-align:center;right:20%;left:20%;}
	&_sider{
		position:absolute;left:0;top:@headheight;bottom:0;text-align:center;background:@c3;width:@headheight;
		&_item{
			height:@headheight;.display-flex();align-items:center;color:@ce;font-size:0;justify-content:center;
			i{
				display:block;font-size:16px;
			}
		}
		.active{
			background:#fff;
			i{color:@c4}
		}
		
	}
	&_tool{
		position:fixed;left:@headheight;top:@headheight;bottom:0;background:#fff;
		box-shadow: 2px 0px 12px rgba(100,100,100, 0.1);
		
	}
	
	&_page{
		width:70px;
		&_add{
			text-align:center;margin:10px;border:1px solid @ce;background:lighten(@ce,2%);padding:18px 0;font-size:12px;color:@c6;
			cursor:pointer;.anm();
			&:hover{
				border:1px solid darken(@blue,5%);background:@blue;
				i{color:#fff;}
			}
		}
		&_layer{
			border:1px solid @ce;.display-flex();justify-content: center;margin:10px;height:50px;align-items:center;color:@c6;
			font-size:12px;
			cursor:pointer;
			.anm();
			&:hover{
				border-color:lighten(@blue,14%);background:lighten(@blue,52%);
			}
		}
		.active{
			border:2px solid @blue;position:relative;
			&:after{
				content:'';border:8px solid transparent;border-left-color:@blue;.transform(rotate(-45deg));
				position:absolute;right:-8px;top:-8px;
			}
		}
	}
	
	&_view{
		.display-flex();align-items: center;justify-content:center;position: fixed;left:@headheight;top:@headheight;right:@rightwidth;bottom:0;
		z-index:-1;
		&_window{
			width:375px;height:667px;background:#fff;box-shadow:0px 0px 22px rgba(90,90,90,.2);
			overflow:hidden;
			&>div{
				position:relative;
			}
		}
	}
	
	&_set{
		position:fixed;right:0;top:@headheight;bottom:0;width:@rightwidth;background:@ce;border-left:1px solid @cc;
		//box-shadow:-4px 0px 8px rgba(0, 0, 0, 0.1);
		&_head{
				text-align:center;font-size:0;padding:14px 0;
			&_group{
				.inline-block();box-shadow:0px 1px 4px rgba(0, 0, 0, 0.07);border-radius:@br;
			}	
			&_item{
				.inline-block();text-align:center;border:1px solid @cc;background:#fff;padding:6px 14px;margin-left:-1px;
				font-size:12px;position:relative;
				color:@c8;cursor:pointer;
				transition-duration:.4s;
				&:first-child{
					border-radius:@br 0 0 @br;
				}
				&:last-child{
					border-radius:0 @br @br 0;
				}
				&:hover{
					border-color:@blue;color:@blue;
					z-index:11;
				}
				
			}
			.active{
				background:@blue;color:#fff;border-color:darken(@blue,10%);z-index:10;
				&:hover{
					background:darken(@blue,3%);border-color:darken(@blue,14%);
				}
				
			}
		}
	}
	
	&_panel{
		position:relative;
		img{}
	}
}

//project.html
.project{
	display:flex;margin:30px auto;
	
	&_add{
		height:150px;text-align:center;.display-flex();text-align:center;justify-content:center;
		align-items: center;color:@cc;background:#fff;border:1px dashed @cc;border-radius:4px;
	}
	&_file{
		height:142px;text-align:center;border:1px solid @cc;background:#fff;margin-top:8px;
		.display-flex();justify-content:center;align-items: center;font-size:32px;position:relative;
		border-radius:4px;
		i{
			color:@cc;
		}
		&:after,&:before{
			content:'';height:10px;border:1px solid @cc;position:absolute;left:0;right:0;display:block;
			background:lighten(@ce,4%);z-index:-1;border-radius:4px;
		}
		&:after{top:-4px;left:2px;right:2px;}
		&:before{top:-7px;left:4px;right:4px;}
	}
	&_fold{
		height:130px;text-align:center;border:1px solid @cc;
		background:#fff;
		position:relative;border-radius:0 4px 4px 4px;
		font-size:12px;
		margin-top:20px;
		.display-flex();justify-content:center;align-items: center;
		box-shadow:0px -4px 0px rgba(180, 180, 180, 0.1);
		i{font-size:36px;color:@cc;}
		&:after{
			content:'';height:50px;cursor: 
			position:absolute;
			border:1px solid @cc;
			right:-1px;left:-1px;height:20px;top:-10px;background:lighten(@ce,4%);z-index:-1;border-radius:0 4px 0 0;
		}
		&:before{
			content:'';display:block;width:40%;position:absolute;left:-1px;top:-23px;height:13px;background:lighten(@ce,4%);
			border-radius:6px 6px 0 0;
			z-index:0;
			border:1px solid @cc;border-bottom:none;
		}
		
	}
	&_item{
		.transition(.3s);margin-right:20px;cursor:pointer;width:200px;position:relative;
		.title{
			text-align:center;font-size:12px;color:@c5;line-height:36px;
		}
		&:hover{
			.transform(translateY(-6px));z-index:100;
			.project{
				&_fold,&_file{
					border-color:@blue;
					i{color:@blue;}
				}
				&_fold,&_file{
					&:after,&:before{border-color:@blue;}
					&:before{
						border-bottom:none;
					}
				}
				
			}
			.tool{
				visibility:inherit;opacity:1;
			}
		}
		.tool{
			position:absolute;right:10px;bottom:45px;.transition(.4s);visibility:hidden;opacity:0;color:@cc;
			&:hover{
				color:@c6;
			}
			
		}
		&_menu{
			position:absolute;top:100%;width:100px;background:#fff;z-index:120;border:1px solid @ce;
			a{display:block;font-size:12px;padding:10px 20px;}
		}
	}
}


.login_form{
	width:380px;margin:0 auto;margin-top:10%;background:#fff;padding:30px;box-shadow:0px 1px 4px rgba(0,0,0,.1);border-radius:4px;
	input{
		width:100%;
		.anm();
	}
	.formgroup{
		margin-bottom:16px;
	}
	input{padding:15px 10px;
		position:relative;
		&:focus{z-index:10;}
	}
	.btn{width:100%;padding:16px 0;text-align:center;margin-top:25px;font-size:18px;
		background:@blue;
	}
	a.regbtn{
		font-size:12px;color:@blue;
	}
	.logo{
		margin-bottom:30px;
		a{display:block;background:url(../images/logo.png) no-repeat center center;
			.img2x(logo);font-size:0;padding:40px 0;
		}
	}
}
.footer{
	text-align:center;
	p{
		line-height:60px;color:@cc;font-size:12px;
	}
}



//画板里的控件样式
.dragable{
	z-index:100;position:absolute;width:200px;height:200px;
	img{width:100%;}
}

//ui控件
.ui{
	//缩放控件
	&_resizable{
		position:absolute;border:1px solid @blue;left:0;right:0;top:0;bottom:0;
		&_handle{
			width:8px;height:8px;border:1px solid @blue;position:absolute;background:#fff;
			text-decoration:none;
		}
		&_move{
			cursor:move;position:absolute;left:0;right:0;bottom:0;top:0;
		}
		&_rotate{
			position:absolute;left:50%;top:-30px;margin-left:-8px;background:#fff;border-radius:90px;width:20px;height:20px;box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);text-align:center;line-height:20px;font-size:12px;color:@blue;color:@c9;text-decoration:none;
			cursor:pointer;
			&:hover{
				color:@blue;box-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
			}
		}
	}
	
	//下拉选择
	&_dropmenu{
		border:1px solid @cc;max-height:400px;overflow-y:auto;border-radius:@br;box-shadow:0px 1px 5px rgba(0, 0, 0, 0.22);
		&_item{
			font-size:12px;line-height:24px;padding:0 14px;
			&:hover{
				background:@blue;color:#fff;
			}
		}
	}
	
	//按钮
	&_button{
		border:1px solid @cc;background:lighten(@ce,5%);.inline-block();padding:4px 20px;font-size:12px;color:@c3;border-radius:@br;
		position:relative;.transition-duration(.5s);cursor:pointer;
		i{
			cursor:pointer;
		}
		&:hover{
			border-color:@c9;background:@ce;z-index:2;
		}
		&_group{
			font-size:0;.inline-block();
			&>div{
				font-size:12px;margin-left:-1px;border-radius:0;padding:4px 8px;position:relative;
				&:first-child{
					border-radius:@br 0 0 @br;
				}
				&:last-child{
					border-radius:0 @br @br 0;
				}
				
			}
			.active{
				background:@blue;border:1px solid darken(@blue,5%);z-index:10;color:#fff;
			}
		}
	}
	
	//滑动调节杆
	&_slider{
		.inline-block();width:130px;height:4px;background:@cc;position:relative;border-radius:20px;border:1px solid @cc;
		&_button{
			position:absolute;left:-1px;top:-1px;bottom:-1px;background:@blue;width:20%;border-radius:20px;
			&:after{content:'';
				position:absolute;right:-4px;width:8px;height:8px;border-radius:90px;background:@blue;border:2px solid @blue;background:#fff;top:-4px;
				box-shadow:0px 1px 2px rgba(0, 1px, 2px, 0.1);
				
			}
			&:hover{
				&:after{
					box-shadow:0px 1px 5px rgba(0, 0, 0, 0.68);
				}
			}
		}
	}
}

.resiz{
	&_nw{left:-4px;top:-4px;cursor:nw-resize;}
	&_n{left:50%;top:-4px;margin-left:-4px;cursor:url(../images/head_logo.png);}
	&_ne{right:-4px;top:-4px;cursor:ns-resize;}
	&_e{right:-4px;top:50%;margin-top:-4px;cursor:e-resize;}
	&_se{right:-4px;bottom:-4px;cursor:se-resize;}
	&_s{left:50%;bottom:-4px;margin-left:-4px;cursor:s-resize;}
	&_sw{left:-4px;bottom:-4px;cursor:sw-resize;}
	&_w{left:-4px;top:50%;margin-top:-4px;cursor:w-resize;}
}

div[contenteditable='true']{
	outline:none;
}

#elmconfig{
	background:#fff;
}
//
.animation{
	
	&_head{
		.display-flex();justify-content:center;align-items:center;padding:15px 0;
	}
}
//
.config{
	&_title{
		font-size:13px;padding:10px;font-weight:700;color:@c3;
	}
	&_line{
		.display-flex();justify-content:space-between;
	}
	&_txt{
		&_block{
			padding:10px;.display-flex();justify-content:space-between;align-content:center;align-items:center;
			.ui_slider{
				justify-content:space-around;
			}
		}
		&_attr{font-size:12px;.inline-block();color:@c3;margin-right:10px;}
	}
	&_value{
		.inline-block();max-width:50px;text-align:center;align-self: flex-end;position:relative;padding-right:15px;
		input[type="text"]{
			font-size:12px;width:100%;font-size:12px;padding:4px 4px 5px;text-align:center;border-radius:@br;
		}
		&_up,&_down{
			position:absolute;right:0;padding:0;width:16px;.display-flex();
			justify-content:center;align-items: center;
			&:after{
				content:'';border:2px solid @cc;border-left:none;border-bottom:none;width:3px;height:3px;display:block;
			}
			
		}
		&_up{
			bottom:50%;top:0;border-radius:0 @br 0 0;
			&:after{
				.transform(rotate(-45deg));margin-bottom: -2px;
			}
		}
		&_down{
			top:50%;bottom:0;border-radius:0 0 @br 0;
			&:after{
				.transform(rotate(135deg));margin-top: -2px;
			}
		}
	}
}



